<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable USer</h3><br>
              <a href="" class="btn btn-success" [routerLink]="['add']"> ADD new User</a>
            </div>
            <app-input-search (keyword)="search($event)"></app-input-search>
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>NO</th>
                  <th>UserName</th>
                  <th>Email</th>
                  <th>PassWord</th>
                  <th>Role</th>
                  <th colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <ng-container *ngFor="let role of roles">
                      <td *ngIf="role.id == user.role_id">{{role.name}}</td>
                    </ng-container>
                    <td><a href="" class="btn btn-primary" [routerLink]="[user.id,'edit']">Edit</a></td>
                    <td><button class="btn btn-danger" (click)="delete(user.id)">Delete</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
